cargo-features = ["per-package-target"]

[package]
name = "zenoh-nostd-wasm"
authors = []
categories = ["network-programming"]
description = "Zenoh: The Zero Overhead Pub/Sub/Query Protocol."
edition = "2024"
homepage = "http://zenoh.io"
license = "EPL-2.0 OR Apache-2.0"
repository = "https://github.com/ZettaScaleLabs/zenoh-nostd"
rust-version = "1.89.0"
version = "0.1.0"
forced-target = "wasm32-unknown-unknown"

[features]
default = ["yawc"]
yawc = ["dep:yawc"]
async_wsocket = ["dep:async-wsocket"]

[dependencies]
zenoh-nostd = { version = "0.1.0", path = "../../crates/zenoh-nostd", features = ["web_console"] }
futures-util = "0.3"
getrandom = { version = "0.2", features = ["std", "js"] }
yawc = { git = "https://github.com/TheByteSmiths/yawc", branch = "develop", optional = true}
async-wsocket = {git = "https://github.com/TheByteSmiths/async-wsocket", branch="develop", optional = true}

[dev-dependencies]
wasm-bindgen = "0.2.105"
static_cell = "2.1.1"
critical-section = { version = "1.2.0", features = ["std"] }

# Embassy (for async/await support)
embassy-executor = { version = "0.9.1", features = ["executor-thread", "arch-wasm"] }
embassy-time = { version = "0.5.0", features = ["wasm"] }
embassy-sync = "0.7.2"
embassy-futures = "0.1.2"

[[example]]
name = "z_put"
path = "examples/z_put.rs"
crate-type = ["cdylib"]

[[example]]
name = "z_sub"
path = "examples/z_sub.rs"
crate-type = ["cdylib"]

[[example]]
name = "z_pub"
path = "examples/z_pub.rs"
crate-type = ["cdylib"]
# default-feature = false
# features = ["async-wsocket"]
