[package]
name = "zenoh-nostd-wasm"
authors = []
categories = ["network-programming"]
description = "Zenoh: The Zero Overhead Pub/Sub/Query Protocol."
edition = "2024"
homepage = "http://zenoh.io"
license = "EPL-2.0 OR Apache-2.0"
repository = "https://github.com/ZettaScaleLabs/zenoh-nostd"
rust-version = "1.89.0"
version = "0.1.0"

[dependencies]
zenoh-nostd = { version = "0.1.0", path = "../../crates/zenoh-nostd", features = ["web_console"] }

async-wsocket = {git = "https://github.com/TheByteSmiths/async-wsocket", branch="develop"}
# futures-lite = "2.6.1"
getrandom = { version = "0.2", features = ["std", "js"] }
# getrandom2 = { package = "getrandom", version = "0.3.4", features = ["std", "wasm_js"] }

[dev-dependencies]
wasm-bindgen = "0.2.105"
static_cell = "2.1.1"
critical-section = { version = "1.2.0", features = ["std"] }

# Embassy (for async/await support)
embassy-executor = { version = "0.9.1", features = ["executor-thread", "arch-wasm"] }
embassy-time = { version = "0.5.0", features = ["wasm"] }
embassy-sync = "0.7.2"
# embassy-futures = "0.1.2"


[[example]]
name = "z_put"
path = "examples/z_put.rs"
crate-type = ["cdylib"]

[[example]]
name = "z_sub"
path = "examples/z_sub.rs"
crate-type = ["cdylib"]
