[workspace]
members = [ "examples", "io/zenoh-link", "io/zenoh-link-commons", "io/zenoh-links/zenoh-link-tcp", "io/zenoh-transport","zenoh-nostd"]
resolver = "2"

[workspace.package]
authors = []
categories = ["network-programming"]
description = "Zenoh: The Zero Overhead Pub/Sub/Query Protocol."
edition = "2021"
homepage = "http://zenoh.io"
license = "EPL-2.0 OR Apache-2.0"
repository = "https://github.com/eclipse-zenoh/zenoh"
rust-version = "1.75.0"
version = "1.5.1"

[workspace.dependencies]
zenoh-protocol = { version = "1.5.1", default-features = false }
zenoh-result = { version = "1.5.1",  default-features = false }
zenoh-keyexpr = { version = "1.5.1", default-features = false }
zenoh-buffers = { version = "1.5.1", default-features = false }
zenoh-codec = { version = "1.5.1", default-features = false }
zenoh-crypto = { version = "1.5.1", default-features = false }

zenoh-link-commons = { path = "io/zenoh-link-commons", default-features = false }
zenoh-link = { path = "io/zenoh-link", default-features = false }

zenoh-link-tcp = { path = "io/zenoh-links/zenoh-link-tcp", default-features = false }

zenoh-transport = { path = "io/zenoh-transport", default-features = false }
zenoh-nostd = { path = "zenoh-nostd", default-features = false }

# Embassy
embassy-sync = { version = "0.7.2" }
embassy-executor = { version = "0.9.0", features = ["executor-thread"] }
embassy-time = { version = "0.5.0", features = ["log" ] }
embassy-futures = { version = "0.1.2" }

# Other dependencies
async-trait = "0.1.89"
lazy_static = "1.5.0"
async-net = "2.0.0"
futures-lite = "2.6.1"
sha3 = { version = "0.10.8", default-features = false }
