[workspace]
members = ["zenoh-sansio"
# "crates/zenoh-nostd-core","crates/zenoh-nostd-derive"
, "zenoh-sansio-codec",]
resolver = "3"

[workspace.package]
authors = []
categories = ["network-programming"]
description = "Zenoh: The Zero Overhead Pub/Sub/Query Protocol."
edition = "2024"
homepage = "http://zenoh.io"
license = "Apache-2.0"
repository = "https://github.com/ZettaScaleLabs/zenoh-nostd"
rust-version = "1.90.0"
version = "0.1.0"

[workspace.dependencies]
zenoh-sansio = { version = "0.1.0", path = "zenoh-sansio" }
zenoh-sansio-codec = { version = "0.1.0", path = "zenoh-sansio-codec" }

proc-macro2 = "1.0.103"
quote = "1.0.41"
syn = { version = "2.0.108", features = ["full"] }

rand = "0.8.5"
paste = "1.0.15"

uhlc = { version = "0.8.1", git = "https://github.com/Hennzau/uhlc-rs", branch = "no-alloc", default-features = false }
