[workspace]
members = ["zenoh-commons"]
resolver = "2"

[workspace.package]
authors = []
categories = ["network-programming"]
description = "Zenoh: The Zero Overhead Pub/Sub/Query Protocol."
edition = "2024"
homepage = "http://zenoh.io"
license = "EPL-2.0 OR Apache-2.0"
repository = "https://github.com/ZettaScaleLabs/zenoh-nostd"
rust-version = "1.90.0"
version = "1.5.1"

[workspace.dependencies]
zenoh-commons = { version = "1.5.1", path = "commons/zenoh-commons" }

rand = "0.8.5"
const_format = "0.2.34"
defmt = { version = "1.0.1" }
log = { version = "0.4.28" }
web-sys = { version = "0.3.81" }
heapless = { version = "0.9.1" }
uhlc = { version = "0.8.1", git = "https://github.com/Hennzau/uhlc-rs", branch = "no-alloc", default-features = false }

[profile.dev]
debug = true
opt-level = 0

[profile.release]
codegen-units = 1
debug = false
lto = "fat"
opt-level = 3
panic = "abort"
