[package]
name = "zenoh-embassy"
authors = []
categories = ["network-programming"]
description = "Zenoh: The Zero Overhead Pub/Sub/Query Protocol."
edition = "2024"
homepage = "http://zenoh.io"
license = "ZSA-1.0"
repository = "https://github.com/ZettaScaleLabs/zenoh-nostd"
rust-version = "1.90.0"
version = "0.1.0"

[dependencies]
zenoh-nostd = { version = "0.1.0", path = "../../crates/zenoh-nostd" }

embassy-net = { version = "0.7.1", features = [
  "defmt",
  "dhcpv4",
  "medium-ethernet",
  "tcp",
]}
embedded-io-async = { version = "0.6", features = ["defmt-03"] }
static_cell = "2.1.1"

getrandom = { version = "0.2", features = ["custom"] }
