[package]
name = "zenoh-std"
authors = []
categories = ["network-programming"]
description = "Zenoh: The Zero Overhead Pub/Sub/Query Protocol."
edition = "2024"
homepage = "http://zenoh.io"
license = "ZSA-1.0"
repository = "https://github.com/ZettaScaleLabs/zenoh-nostd"
rust-version = "1.90.0"
version = "0.1.0"

[dependencies]
zenoh-nostd = { version = "0.1.0", path = "../../crates/zenoh-nostd" }
wtx = { version = "0.39.0", default-features = false, features = ["std", "web-socket-handshake", "web-socket", "async-net", "optimization", "futures-lite"] }
async-net = { version = "2.0.0" }
socket2 = { version = "0.6.0", features = ["all"] }
futures-lite = { version = "2.6.1" }
futures-util = { version = "0.3", features = ["io"] }
